:root > * {
    --custom-primary-fg-color: hsl(30, 100%, 50%);
    /*--custom-primary-fg-color: hsla(25,75%,30%,1);*/
    /*--custom-secondary-fg-color: hsla(45,75%,70%,1);*/
    --custom-secondary-fg-color: hsla(200,45%,50%,1);
    /*--md-code-bg-color: hsla(245,5%,95%,1);*/
    /*--md-code-fg-color: hsla(145,5%,25%,1);*/

    --md-code-bg-color: hsl(0, 0%, 85%);
    --md-code-fg-color: hsl(0, 0%, 14%);
    --md-code-hl-color: hsla(55,100%,80%,0.8);
    --md-typeset-mark-color: hsla(200,80%,90%,0.8);
}
.md-header {
    /*color: white;*/
    /*background-color: var(--custom-primary-fg-color);*/
    color: var(--custom-primary-fg-color);
    background-color: white;
}

.md-footer {
    color: white;
    background-color: var(--custom-primary-fg-color);
}

.title_icons {
    color : var(--custom-secondary-fg-color);
}